<p style="color: green"><%= notice %></p>

<%= render(Primer::Beta::Heading.new(tag: :h1)) { InputForm.model_name.human } %>

<div id="input_forms">
  <% @input_forms.each do |input_form| %>
    <%= render input_form %>
    <p>
      <%= link_to "Show this input form", input_form %>
    </p>
  <% end %>
</div>

<%= render(Primer::Beta::Button.new(tag: :a, href: new_input_form_path, block: :true)) { "New input form" } %>
