<p style="color: green"><%= notice %></p>

<%= render Element::HeadlineComponent.new(text: InputForm.model_name.human) %>

<div id="input_forms">
  <% @input_forms.each do |input_form| %>
    <%= render input_form %>
    <p>
      <%= link_to "Show this input form", input_form %>
    </p>
  <% end %>
</div>

<%= link_to "New input form", new_input_form_path, class: 'text-center block mt-10 py-3 px-5 rounded bg-sky-500 text-white text-lg' %>
