<p style="color: green"><%= notice %></p>

<%= render @input_form %>

<%= render(Primer::Beta::Button.new(tag: :a, href: edit_input_form_path(@input_form), block: :true)) { "Edit this input form" } %>
<%= render(Primer::Beta::Button.new(tag: :a, href: input_forms_path, block: :true)) { "Back to input forms" } %>
<%= render(Primer::Beta::Button.new(tag: :a, href: input_form_path(@input_form), data: { turbo_method: :delete }, block: :true)) { "Destroy this input form" } %>
