<!DOCTYPE html>
<html>
  <head>
    <title>September</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "primer_view_components", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="background: #4c4254">
    <div class="container-sm p-5 mt-5 mb-5 rounded" style="background: #fff">
      <%= yield %>
    </div>
  </body>
</html>
